<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWQC8ppRw5OZAmp6koUkBOns8ewUJ2lcc</string>
	<key>GCM_SENDER_ID</key>
	<string>446835983825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastlaneDemo</string>
	<key>PROJECT_ID</key>
	<string>fastlane-demo-aedf8</string>
	<key>STORAGE_BUCKET</key>
	<string>fastlane-demo-aedf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446835983825:ios:929949436e8354938b4cf0</string>
</dict>
</plist>